.carsCardMainWrapper {
  width: 274px;
}

.allCarsCardList {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
  grid-gap: 29px;
  margin-top: 65px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.carsCardItem {
  border-radius: 2px;
  position: relative;
}

.imagecarsCardItem {
  width: 100%;
  height: 268px;
  object-fit: cover;
    object-position: center;
  border-radius: 12px;
  margin-bottom: 14px;
}

.imagecarsCardItem:hover {
  transform: scale(1.03);
}



.make{
  color: #121417;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  
}

.model {
  color: #3470FF;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-left: 5px;
}

.carsCardInfoTopWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.carsCardInfoWrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}

.carsCardInfoBottomWrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 28px;
}

.year {
  color: #121417;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.price {
  color: #121417;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.carInfoText {
  color: rgba(18, 20, 23, 0.50);
  font-family: Manrope;
  font-size: 12px;
  line-height: 1.5;
}

.borderInfoCard {
    border-right: 1.5px solid #c3c2c2;
    margin-left: 5px;
    margin-right: 5px;
}

.cardBtnLearnMore {
  width: 274px;
  height: 44px;
  background-color: #3f51b5;
  text-align: center;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.43;
  font-weight: 600;
  border-radius: 12px;
}

.btnFavorite {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  
}

.bntLoadWrap {
  display: flex;
  justify-content: center;
}