.form {
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: center;
    align-items: flex-end;
}

.brandWrap {
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.inputBrand {
    width: 224px;
    height: 40px;
    border-radius: 14px;
    background: #F7F7FB;
    border: none;
    outline: none;
    padding-left: 20px;
}

.buttonOpenBrand {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 35px;
    left: 200px;
    background: transparent;
    border: none;
}

.labelBrand {
    color: #d8d8d9;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.11;
    margin-bottom: 8px;
}

.svgOpen {
    stroke-width: 2;
    stroke: #121417;
    fill: none;
}

.priceWrap {
    display: flex;
    flex-direction: column;
    position: relative;
}

.labelPrice {
    color: #d8d8d9;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.11;
    margin-bottom: 8px;
}

.inputPrice {
    width: 224px;
    height: 40px;
    border-radius: 14px;
    background: #F7F7FB;
    border: none;
    outline: none;
    padding-left: 20px;
}

.buttonOpenPrice {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 35px;
    left: 200px;
    background: transparent;
    border: none;
}

.mileageWrap {
    display: flex;
    flex-direction: column;
}

.inputWrap {
    display: flex;
    flex-direction: row;
}

.mileageLabel {
    color: #d8d8d9;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.11;
    margin-bottom: 8px;
}

.mileageInputFrom {
    width: 160px;
    height: 40px;
    background: #F7F7FB;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 14px 0px 0px 14px;
    border-right: 1px solid rgba(138, 138, 137, 0.20);
    background: #F7F7FB;
    
}

.mileageInputTo {
    width: 160px;
    height: 40px;
    background: #F7F7FB;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 0px 14px 14px 0px;
    background: #F7F7FB;
}

.buttonSearchFilter {
    min-width: 136px;
    min-height: 40px;
    background-color: rgba(43, 19, 229, 0.845);
    text-align: center;
    color: #fff;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 600;
    border-radius: 14px;
    font-family: Manrope;
}


.brandList {
    background-color: #F7F7FB;
    width: 180px;
    height: 250px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #F7F7FB;
    padding: 18px 44px 18px 18px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    position: absolute;
    top: 101%;
    left: 1%;
    z-index: 999999;
    overflow-x: auto;
}

.brandList::-webkit-scrollbar {
     width: 8px;
}
    
.brandList::-webkit-scrollbar-track {
    background: rgb(137, 137, 163);
}
    
.brandList::-webkit-scrollbar-thumb {
    background-color: rgb(69, 69, 102);
    border-radius: 20px;
    border: 1px solid rgb(137, 137, 163);
}




.priceList {
    background-color: #F7F7FB;
    width: 180px;
    height: 250px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #F7F7FB;
    padding: 18px 44px 18px 18px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    position: absolute;
    top: 101%;
    left: 1%;
    z-index: 999999;
    overflow-x: auto;
}

.priceList::-webkit-scrollbar {
    width: 8px;
}

.priceList::-webkit-scrollbar-track {
    background: rgb(137, 137, 163);
}

.priceList::-webkit-scrollbar-thumb {
    background-color: rgb(69, 69, 102);
    border-radius: 20px;
    border: 1px solid rgb(137, 137, 163);
}

.brandItem {
    margin-bottom: 8px;
    color: rgba(18, 20, 23, 0.20);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}

.priceItem {
    margin-bottom: 8px;
    color: rgba(18, 20, 23, 0.20);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}